name: FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./                              # תיקיית המקור במאגר שלך
          server-dir: /domains/zefetbtnufa.com/public_html/  # תיקיית היעד בשרת (שים לב ה- / בסוף)
          passive: true
          timeout: 120
          concurrency: 1
